#left #Form_LeftMenuForm {
	padding: 5px;
	background-color: #EEE;
}

#left #sitetree #record-0 {
	padding: 5px 0;
}

#left #sitetree #record-0 .c strong {
	font-size: 14px;
}

.right form#Form_EditForm fieldset {
	background-color: #fff;
	border: 1px solid #aaa;
	padding: 0 10px;
}

.right form#Form_EditForm .Actions {
	text-align: right;
}

.right form#Form_EditForm .Actions .action {
	padding: 3px 7px;
	margin-top: 7px;
	font-size: 11px;
	font-weight: bold;
}

.right form#Form_EditForm #Form_EditForm_action_doDeleteMenu:hover {
	background-color: #ff0000;
	color: #fff;
}
